<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_name">

  <!-- ************************ -->
  <!--  variables -->
  <!-- ************************ -->
  

    <xacro:include filename="$(find agro_description)/urdf/xacro/wheel.xacro"/>
    <xacro:include filename="$(find agro_description)/urdf/xacro/gazebo.xacro"/>
    <xacro:include filename="$(find agro_description)/urdf/xacro/sensors.xacro"/>
    <xacro:include filename="$(find agro_description)/urdf/xacro/chassis.xacro"/>

     <!-- Base footprint-->
    <link name= "base_footprint">
    </link>
 
    <!-- Chassis -->
    <xacro:chassis/>

    <!-- Soporte -->
   <xacro:soporte/>
   
    <!-- Box -->
   <xacro:box/>


    <!-- Soporte -->
   <xacro:head/>

    <!-- Wheels-->
    <xacro:wheel_link prefix="front_left" />
    <xacro:wheel_link prefix="front_right" />
    <xacro:wheel_link prefix="near_left" />
    <xacro:wheel_link prefix="near_right" />

    <xacro:wheel_joint prefix="front_left" x="0.210" y="0.224" z="-0.1376"/>
    <xacro:wheel_joint prefix="front_right" x="0.210" y="-0.224" z="-0.1376"/>
    <xacro:wheel_joint prefix="near_left" x="-0.210" y="0.224" z="-0.1376"/>
    <xacro:wheel_joint prefix="near_right" x="-0.219" y="-0.224" z="-0.1376"/>

    <!-- camera sensor-->
    <xacro:camera_sensor/>

    <!-- imu sensor-->
    <xacro:imu_sensor/> 

    <!-- gps sensor-->
    <xacro:gps/>  

    <!-- lidar sensor-->
    <xacro:lidar_sensor/>  
    
    <!-- ros2 control-->
    <xacro:ros2_control/>

    <!-- gazebo-->
    <xacro:plugins_gazebo/>

    <xacro:wheels_friction side="front_left"/>
    <xacro:wheels_friction side="front_right"/>
    <xacro:wheels_friction side="near_left"/>
    <xacro:wheels_friction side="near_right"/>
</robot>