<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_name">
    <xacro:macro name="ros2_control">

        <gazebo>
            <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find agro_bringup)/config/diff_drive_controller.yaml</parameters>
            </plugin>
        </gazebo>

        <xacro:macro name="ros2_control" params="wheel">
            <joint name="${wheel}_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            </joint>
        </xacro:macro>

        <ros2_control name="GazeboSimSystem" type="system">
            <hardware>
              <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
            <xacro:ros2_control wheel="front_left"/>
            <xacro:ros2_control wheel="front_right"/>
            <xacro:ros2_control wheel="near_left"/>
            <xacro:ros2_control wheel="near_right"/>
        </ros2_control>
  </xacro:macro>  

  <xacro:macro name="plugins_gazebo">
  
    <gazebo reference="base_link">
        <sensor name="tb3_gps" type="navsat">
          <always_on>true</always_on>
          <update_rate>1</update_rate>
          <pose>0 0 0 0 0 0</pose>
          <!--gps>
            <position_sensing>
              <horizontal>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>0.01</stddev>
                </noise>
              </horizontal>
              <vertical>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>0.01</stddev>
                </noise>
              </vertical>
            </position_sensing>
          </gps-->
           <topic>gps/fix</topic>
        </sensor>
    </gazebo>

    <gazebo reference="base_link">
      <sensor name="imu_sensor" type="imu">
          <always_on>1</always_on>
          <update_rate>1</update_rate>
          <visualize>true</visualize>
          <topic>imu</topic>
          <frame_id>base_link</frame_id>
      </sensor>
      
    </gazebo>
  </xacro:macro>
</robot>