<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:include filename="$(find agro_description)/urdf/xacro/properties.xacro"/>
    <xacro:include filename="$(find agro_description)/urdf/xacro/inertial.xacro"/>

    <!-- camera -->
    <xacro:macro name="camera_sensor">
        <link name="camera_link">
           <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="${camara_largo} ${camara_ancho} ${camara_altura}"/>
                </geometry>
                <material name="red">
                    <color rgba="0.8 0.0 0.0 1.0"/> <!-- Color madera -->
                </material>
            </visual>
            <xacro:inertial_box mass="${camara_mass}" x="${camara_largo}" y="${camara_ancho}" z="${camara_altura}">
                <origin xyz="0.01 0.0 0.0015" rpy="0.0 0.0 0.0"/>
            </xacro:inertial_box>
            <collision>
                <origin xyz="0.01 0.0 0.0015" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="${camara_largo} ${camara_ancho} ${camara_altura}"/>
                </geometry>
            </collision>
        </link>

        <joint name="base_camera_joint" type="fixed">
            <origin xyz="0.18 0.06 0.77" rpy="0.0 0.0 0.0"/>
            <parent link="base_link"/>
            <child link="camera_link"/>
            
        </joint>
    </xacro:macro> 

    <!-- Imu -->
    <xacro:macro name="imu_sensor">
        <link name="imu_link">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="${imu_largo} ${imu_ancho} ${imu_altura}"/>
                </geometry>
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/> 
                </material>
            </visual>
            <xacro:inertial_box mass="${imu_mass}" x="${imu_largo}" y="${imu_ancho}" z="${imu_altura}">
                <origin xyz="0.01 0.0 0.0015" rpy="0.0 0.0 0.0"/>
            </xacro:inertial_box>
            <collision>
                <origin xyz="0.01 0.0 0.0015" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="${imu_largo} ${imu_ancho} ${imu_altura}"/>
                </geometry>
            </collision>
        </link>

        <joint name="base_imu_joint" type="fixed">
            <origin xyz="0.18 0.0 0.015" rpy="0.0 0.0 0.0"/>
            <parent link="base_link"/>
            <child link="imu_link"/>
        </joint>
    </xacro:macro> 

    <!-- GPS -->
    <xacro:macro name="gps">
        <link name="gps_link">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="${gps_largo} ${gps_ancho} ${gps_altura}"/>
                </geometry>
                <material name="blue">
                    <color rgba="0.0 0.0 0.8 1.0"/> <!-- Color madera -->
                </material>
            </visual>
            <xacro:inertial_box mass="${gps_mass}" x="${gps_largo}" y="${gps_ancho}" z="${gps_altura}">
                <origin xyz="0.01 0.0 0.0015" rpy="0.0 0.0 0.0"/>
            </xacro:inertial_box>
            <collision>
                <origin xyz="0.01 0.0 0.0015" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="${gps_largo} ${gps_ancho} ${gps_altura}"/>
                </geometry>
            </collision>
        </link>

        <joint name="base_gps_joint" type="fixed">
            <origin xyz="0.21 0.0 0.77" rpy="0.0 0.0 0.0"/>
            <parent link="base_link"/>
            <child link="gps_link"/>
        </joint>
    </xacro:macro> 


    <!-- Lidar -->
    <xacro:macro name="lidar_sensor">
        <link name="laser_link">
            <visual>
                <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="${lidar_largo} ${lidar_ancho} ${lidar_altura}"/>
                </geometry>
                <material name="black">
                    <color rgba="0.0 0.0 0.0 1.0"/> <!-- Color madera -->
                </material>
            </visual>
            <xacro:inertial_box mass="${lidar_mass}" x="${lidar_largo}" y="${lidar_ancho}" z="${lidar_altura}">
                <origin xyz="0.01 0.0 0.0015" rpy="0.0 0.0 0.0"/>
            </xacro:inertial_box>
            <collision>
                <origin xyz="0.01 0.0 0.0015" rpy="0.0 0.0 0.0"/>
                <geometry>
                    <box size="${lidar_largo} ${lidar_ancho} ${lidar_altura}"/>
                </geometry>
            </collision>
        </link>

        <joint name="base_lidar_joint" type="fixed">
            <origin xyz="0.21 0.04 0.185" rpy="0.0 0.0 0.0"/>
            <parent link="base_link"/>
            <child link="laser_link"/>
        </joint>
    </xacro:macro> 

</robot>